use auxiliary/scanner/ipmi/ipmi_cipher_zero 
 options
use auxiliary/scanner/ipmi/ipmi_dumphashes 
 options
use auxiliary/scanner/ipmi/ipmi_version 
 options
use exploit/multi/upnp/libupnp_ssdp_overflow 
 options
use auxiliary/scanner/http/smt_ipmi_cgi_scanner 
 options
use auxiliary/scanner/http/smt_ipmi_49152_exposure 
 options
use auxiliary/scanner/http/smt_ipmi_static_cert_scanner 
 options
use exploit/linux/http/smt_ipmi_close_window_bof 
 options
use auxiliary/scanner/http/smt_ipmi_url_redirect_traversal 
 options
